.mx-w {
    max-width: 100%;
}


.left-parnten-home {
    background-image: url(../Images/hoatiet/hoatiet_1.png);
    background-repeat: no-repeat;
    background-position: 0px -13px;
    background-size: contain;
    height: 184px;
    transform: scale(1);
}

.left-bottom-parnten-home {
    background-image: url(../Images/hoatiet/hoatiet_2.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: contain;
    height: 184px;
    transform: scale(1);
}

.right-home-top {
    background-image: url(../Images/hoatiet/hoatiet_3.png);
    background-repeat: no-repeat;
    background-position: right 0px;
    background-size: contain;
    height: 184px;
    transform: scale(1);
}

.right-home-bottom {
    background-image: url(../Images/hoatiet/hoatiet_4.png);
    background-repeat: no-repeat;
    background-position: right 0px;
    background-size: contain;
    height: 184px;
    transform: scale(1);
}

.position-home {
    position: absolute;
    top: 25px;
    left: 40px;
}

.left-footer {
    background-image: url(../Images/hoatiet/footer_left.png);
    background-repeat: no-repeat;
    background-position: left 0px;
    background-size: contain;
    height: 314px;
    width: 614px!important;
    transform: scale(1);
}

.right-footer {
    background-image: url(../Images/hoatiet/footer_right.png);
    background-repeat: no-repeat;
    background-position: left 0px;
    background-size: contain;
    height: 314px;
    width: 614px;
    transform: scale(1);
}